# Node.js / JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv
env/
venv/

# IDEs & Editoren
.vscode/
.idea/
*.swp
*.swo

# Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Logs
*.log

# Build-Ordner
dist/
build/
out/
